<!-- <input
  id="nameSearch"
  #studentNameSearchInput
  placeholder="Search Student by Name"
  type="text"
  autocomplete="off"
  (input)="search()"
  (click)="showSearches = true"
/> -->
<!-- <div class="card" [hidden]="!showSearches">
  <div class="search">
    <div *ngFor="let name of searchedNames" tappable class="search-result">
      {{ name }}
    </div>
  </div>
</div> -->
<div
  class="row mx-md-n5 mt-5"
  style="width: 1500px; margin: 0 auto; gap: 10px"
  (click)="hideOrShowSearches($event)"
>
  <div
    class="col px-md-3"
    style="display: flex; flex-direction: column; align-items: center"
  >
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light position: relative"
    >
      <form class="form-inline my-2 my-lg-0" style="display: flex; gap: 15px">
        <input
          class="form-control mr-sm-2 searchBar"
          type="search"
          placeholder="Search"
          aria-label="Search"
          (keyup)="search($event)"
          (click)="showSearches = true"
          #studentNameSearchInput
        />
        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="toFilter()">
          Search
        </button>
      </form>
      <div
        style="position: absolute; width: 70%; top: 46px; z-index: 2"
        [hidden]="!showSearches"
      >
        <div
          *ngFor="let name of searchedNames"
          class="form-control mr-sm-2 searchOptions"
          type="search"
          style="cursor: pointer"
          (click)="toSelect(name)"
        >
          <li style="list-style-type: none">
            {{ name }}
          </li>
        </div>
        <div
          *ngIf="!searching && searchedNames.length === 0"
          class="form-control mr-sm-2"
          type="search"
        >
          No results found
        </div>
      </div>
    </nav>
  </div>
</div>
