<div style="margin: 15px; display: flex; justify-content: space-between">
  <div>
    <button
      type="button"
      class="btn btn-secondary"
      style="margin-right: 15px"
      routerLink="/data"
    >
      Show Data
    </button>
  </div>
  <div>
    <button type="button" class="btn btn-secondary" routerLink="/form">
      Open Form
    </button>
  </div>

  <div>
    <button
      type="button"
      class="btn btn-secondary"
      style="margin-right: 15px"
      routerLink="/search-items"
    >
      Search
    </button>
  </div>
</div>
<router-outlet></router-outlet>
<!-- <app-data-transfer></app-data-transfer> -->
