<div class="row mx-md-n5 mt-5" style="width: 1200px; margin: 0 auto; gap: 10px">
  <div class="col px-md-3">
    <div class="p-3 border bg-light">
      <p *ngIf="teamAStudents.length === 0">No students in Team A</p>
      <ul class="list-group" #itemA>
        <li
          class="list-group-item"
          [id]="student.id"
          [index]="index"
          [team]="student.team"
          *ngFor="let student of teamAStudents; let index = index"
          select
        >
          <div class="media text-muted pt-3">
            <p class="mr-2 rounded" style="height: 16px">
              ID: {{ student.id }}
            </p>
            <div style="display: flex; gap: 25px">
              <p class="media-body pb-3 mb-0 small lh-125 border-gray">Name</p>
              <p>{{ student.name }}</p>
            </div>
            <div class="email row">
              <p class="col-sm-2 media-body pb-3 mb-0 small lh-125 border-gray">
                Email:
              </p>
              <div class="col-sm-10">
                <p *ngFor="let email of student.emails">{{ email }}</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div
    class="col px-md-3"
    style="
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 15px;
    "
  >
    <button
      type="button"
      class="btn btn-secondary"
      (click)="transferOnClick('A')"
      [disabled]="click === 'B'"
    >
      Transfer
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="16"
        height="16"
      >
        <path
          d="M8.22 2.97a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l2.97-2.97H3.75a.75.75 0 0 1 0-1.5h7.44L8.22 4.03a.75.75 0 0 1 0-1.06Z"
        ></path>
      </svg>
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="transferOnClick('B')"
      [disabled]="click === 'A'"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="16"
        height="16"
      >
        <path
          d="M7.78 12.53a.75.75 0 0 1-1.06 0L2.47 8.28a.75.75 0 0 1 0-1.06l4.25-4.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L4.81 7h7.44a.75.75 0 0 1 0 1.5H4.81l2.97 2.97a.75.75 0 0 1 0 1.06Z"
        ></path>
      </svg>
      Transfer
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="transferAllOnClick('A')"
      [disabled]="click === 'B'"
    >
      Transfer All
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="16"
        height="16"
      >
        <path
          d="M8.22 2.97a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.751.751 0 0 1-1.042-.018.751.751 0 0 1-.018-1.042l2.97-2.97H3.75a.75.75 0 0 1 0-1.5h7.44L8.22 4.03a.75.75 0 0 1 0-1.06Z"
        ></path>
      </svg>
    </button>
    <button
      type="button"
      class="btn btn-secondary"
      (click)="transferAllOnClick('B')"
      [disabled]="click === 'A'"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="16"
        height="16"
      >
        <path
          d="M7.78 12.53a.75.75 0 0 1-1.06 0L2.47 8.28a.75.75 0 0 1 0-1.06l4.25-4.25a.751.751 0 0 1 1.042.018.751.751 0 0 1 .018 1.042L4.81 7h7.44a.75.75 0 0 1 0 1.5H4.81l2.97 2.97a.75.75 0 0 1 0 1.06Z"
        ></path>
      </svg>
      Transfer All
    </button>
  </div>
  <div class="col px-md-3">
    <div class="p-3 border bg-light">
      <p *ngIf="teamBStudents.length === 0">No students in Team B</p>
      <ul class="list-group" #itemB>
        <li
          class="list-group-item"
          [id]="student.id"
          [index]="index"
          [team]="student.team"
          *ngFor="let student of teamBStudents; let index = index"
          select
        >
          <div class="media text-muted pt-3">
            <p class="mr-2 rounded" style="height: 16px">
              ID: {{ student.id }}
            </p>
            <div style="display: flex; gap: 25px">
              <p class="media-body pb-3 mb-0 small lh-125 border-gray">Name</p>
              <p>{{ student.name }}</p>
            </div>
            <div class="email row">
              <p class="col-sm-2 media-body pb-3 mb-0 small lh-125 border-gray">
                Email:
              </p>
              <div class="col-sm-10">
                <p *ngFor="let email of student.emails">{{ email }}</p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
